

.product-detail-container-for-page {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-container-for-product {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.product-detail-container-for-img {
  width: 50%;
  padding: 20px;
}

.product-detail-img {
  width: 100%;
  height: auto;
  border-radius: 1px;
}

.product-detail-container-for-container-for-text {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.product-detail-container-for-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.3);
  padding: 20px;
  border-radius: 1px;
}

.product-detail-title {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2em;
  text-align: right;
  color: rgba(0,0,0,0.9);
  padding: 2em 0 3em 0;
}

.product-detail-description {
  line-height: 1.7em;
}

.product-detail-container-for-price-and-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 7em;
  align-items: center;
}

.product-detail-price {

}

.product-detail-add-to-chart {
  background-color: rgba(211, 211, 211, 0.8);
  padding: 3px 6px 3px 6px;
  color: white;
  cursor: pointer;
}

.product-detail-add-to-chart:hover {
  background-color: rgba(0, 0, 0, 0.6);
}