.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

button {
  border-radius: 10px;
  color: white;
  background-color: grey;
  align-items: center;
}

div.product img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

div.title {
  font-size: 25px;
}

div.price {
  font-size: 16px;
}

.products-amount-of-items-shown {
  text-align: center;
  padding: 20px 0 10px 0;
  color: gray;
  font-style: italic;
}